body{
    display: flex;
    justify-content: center;
    
}

.progress-bar{
    
    position:relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    outline: 1px solid rgba(209,197,252,.5);
    outline-offset: -1px;
}
.progress-bar::after,.number{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.progress-bar::after{
    content:"";
    width: 110px;
    height: 110px;
    border-radius: inherit;
    outline: inherit;
}

.number{
    font-size: 21px;
    font-weight: bold;
}
.circle{
    stroke-dasharray: 410;
    stroke-dashoffset: 410px;
    transform: rotate(-90deg);
    animation: bar-fill 2s linear forwards infinite;
}

@keyframes bar-fill{
    100%{stroke-dashoffset: 0;
    }
}